.homeContainer {
    width: 80%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}
.homePageContent {
    font-size: 16px;
    color: #260F46;
    font-weight: 600;
}
.firstTab {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

}
.imgContainer img{
    width: 300px;
    height: 300px;
}