.MuiAppBar-root {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(66, 117, 194, 1) !important;
  -moz-box-shadow: 0px 2px 4px -1px rgba(66, 117, 194, 1) !important;
  box-shadow: 0px 2px 4px -1px rgba(66, 117, 194, 1) !important;
  padding: 20px 0px 20px 0px;
}
.navLinks {
    margin-left: 30%;
    display: flex;
}
.MuiButtonBase-root:hover,
.MuiButton-root:hover{
    background-color: transparent !important;
    color: coral !important;
}
.MuiMenuItem-root {
    color: #4462C4 !important;
    font-weight: bold !important;
}
/* mobile */
.mobileVersionLogo{
    margin-left:30%;
}
.MuiSvgIcon-root {
    color: #4462C4;
}