.contactsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#map {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 300px;
}

.contactInfoWrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}
p {
    margin: 0;
    padding: 0;
}
.contactProp{
    font-weight: bold;
    margin-right: 10px;
}

